/cmake_gcc/
/cmake_llvm/
/artifacts/

/autogen/

.projectlinkstore
vscode.conf
.settings/

*.project.mak

/simplicity_sdk_*/

.vscode/
.DS_Store
Thumbs.db
*.swp

*.o
*.d
*.axf
*.out
*.bin
*.hex
*.s37
*.map